body {
            background-image:url('Language.jpg');
            background-size: cover;
            background-position: center;
          
        }
        .container{
            max-width: 800px;
            margin: 100px auto;
            text-align: justify;
        }
        a{
        
            text-decoration: none;
        }
        .btn {
        padding: 10px 20px;
        background-color: #007bff;
        border-radius: 5px;
        text-decoration: none;
        }
        .search{
            max-width: 800px;
            margin: 100px auto;
            text-align: center;
            padding: 20px 35px;
        }